body{
    background-color:rgba(14, 11, 11, 0.911);
    color: grey;
    margin: 0%;
    padding: 10px;
}
h1 {
    text-align: center;
    border-style: solid ;
    border-width: 1px 4px;
    border-top-color: greenyellow;
    border-bottom-color: rgba(255, 0, 0, 0.918);
    border-left-color: greenyellow;
    border-right-color: rgba(255, 0, 0, 0.918);
    border-radius: 5px;
    width: 25%;
    margin-left: 0%;
    margin-top: 2%; 



}
img{ 
    height: 150px;
    width: 200px;
    border-radius: 12px;
    opacity: 0.8;
}
iframe{
    height: 300px;
    width: 400px;
    border-radius: 15px;
    opacity: 0.7;
}