@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: rgb(1, 1, 19);
    /* background-image: url("https://www.youtube.com/watch?v=R83BlU5nnbs"); */
    }
    
li,a,button{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4d4d65;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.logo{
    cursor: pointer;
    margin-right: auto;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links{
    list-style: none;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: aqua;
}
button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(228, 62, 6);
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
button:hover{
    background-color: orange;
}
img{
    width: 40px;
    height: 40px;
    margin-top: 1px;
    margin-left: -92px;;
}

h1{
    text-align: center;
    margin-top: -66px;
    margin-left: -762px;
    color: #4d4d65;
}
iframe{
    height: 400px;
    width: 500px;
    margin-top: 50px;
    margin-left: 20px;
    
}
.iframe1{
    height: 400px;
    width: 500px;
    margin-top: 50px;
    margin-left: 50px;
    
}